.bar-container {
    width: 100%;
    border-radius: 1rem;
    background-color: #e0e0e0;
}

.bar {
    border-radius: 1rem;
    height: 1rem;
    width: 5%;
    /* background-color: #777; */
    background-color: hsl(51, 100%, 50%);
    transition: width 0.3s;
}
input {
    border: none;
    margin-top: 0rem;
    border-bottom: 0.2rem solid #777;
    max-width: 80%;
    outline: none;
    padding: 0.5rem 0;
    /* box-sizing: border-box; */
}

#show_password {
    padding: 1rem;
    font-style: italic;
}

button {
    width: 100%;
    height: 3rem;
    background: none;
    background-color: darkred;
    color:white;
    border: none;
    border-radius: 1rem;
}
button:hover {
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}