h1 {
    color: red;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 20px;
}

#current_page {
    background-color: darkred;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  width: 100%;
  /* padding: 0px 20px; */
}

/* Navbar links */
#navbar a {
    flex:1;
  float: left;
  justify-content: center;
  /* display: block; */
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

#navbar a:hover {
    cursor: pointer;
    background-color: black;
}

img {
    width: 80%;
    align-self: center;
}