main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

fieldset {
    border-radius: 20px;
    display: flex;
}

label {
    display: inline-block;
    width: 150px;
    /* text-align: right; */
    margin: 10px;
}

button {
    width: 120px;
    height: 40px;
}

.champs input:hover {
    border-color: red;
}

.champs input {
    min-width: 200px;
    margin: 5px;
    border: 2px solid rgb(105, 105, 105);
    border-radius: 8px;
    padding: 10px 10px;
}

.champs label {
    text-align: right;
    margin: 20px;
    min-width: 200px;
}

.btn {
    text-align: center;
    border: currentColor;
    border-radius: 6px;
    /* padding: 10px 10px; */
}


.center {
    margin: 10px;
   text-align: center;
}

.btn:hover {
    background-color: black !important;
    color: white;
    font-size: large;
}

#btnAccueil {
    background-color: grey;
}

#submit {
    background-color: green;
}

#reset {
    background-color: red;
}

.radio {
    align-items: right;
}


