.bar-container {
    width: 100%;
    border-radius: 1rem;
    background-color: #e0e0e0;
}

.bar {
    border-radius: 1rem;
    height: 1rem;
    width: 1%;
    background-color: #777;
    background-color: hsl(51, 100%, 50%);
    transition: width 0.3s;
}

label {
    /* padding: 1rem; */
    display: block;
    margin-top: 1rem;
}

input {
    border: none;
    border-bottom: 0.2rem solid #777;
    width: 80%;
    /* border-radius: 4px; */
    outline: none;
    padding: 0.5rem;
}

input:focus {
    border-bottom-color: #bd0000;
}