.bar-container {
    width: 100%;
    border-radius: 1rem;
    background-color: #e0e0e0;
}

.bar {
    border-radius: 1rem;
    height: 1rem;
    width: 0%;
    background-color: #777;
    /* background-color: hsl(51, 100%, 50%); */
    transition: width 0.3s;
}

label {
    /* padding: 1rem; */
    display: block;
    margin-top: 1rem;
    /* margin-bottom: 0rem; */
}

input {
    border: none;
    margin-top: 0rem;
    border-bottom: 0.2rem solid #777;
    width: 80%;
    outline: none;
    padding: 0.5rem 0;
    box-sizing: border-box;
}

input:focus {
    border-bottom-color: #bd0000;
}
br {
    display:none;
}