/* * {
    margin: 0;
    padding: 0;
} */

body {
    color: rgb(87, 0, 0);
	background-color: rgba(155, 148, 148, 0.8);
}

/* header {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
} */

/* h1 {
    font-size: 3rem;
} */


body {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    height: 15vh;
    width: 15vh;
    padding: 1vh;
    background-color: darkred;
    text-align: center;
    cursor: pointer;
    border-radius: 15%; 
}

img:hover {
    background-color: black;
}

.flipping {
    animation: flip 0.6s forwards; /* Animation de flip */
}

@keyframes flip {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    50% {
        transform: perspective(1000px) rotateY(180deg);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
    }
}