/* * {
    margin: 0;
    padding: 0;
} */

body {
    color: rgb(87, 0, 0);
	background-color: rgba(155, 148, 148, 0.8);
}

/* header {
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
} */

/* h1 {
    font-size: 3rem;
} */


main {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    height: 10vh;
    width: 10vh;
    padding: 1vh;
    background-color: darkred;
    text-align: center;
    cursor: pointer;
    border-radius: 15%; 
}

img:hover {
    background-color: black;
}


/* section {
    margin-top: 10vh;
} */

/* h3 {
    text-align: center;
} */