h1 {
    color: red;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

/* Page content */
.content {
  padding: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: space-around;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 40px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

@media screen {
    
}